@media(max-width:1200px) {
    .about__inner {
        flex-direction: column;
        gap: 40px;
    }

    .about__inner_right-title {
        margin-bottom: 30px;
        text-align: center;
    }

    .works__cards {
        justify-content: center;
    }
}

@media(max-width:768px) {
    .nav {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .content__title {
        text-align: center;
    }
}

@media(max-width:576px) {
    .list {
        flex-direction: column;
        align-items: center;
    }

    .about__inner img {
        width: 100%;
    }

    .footer__contacts {
        max-width: 200px;
        gap: 20px;
        flex-wrap: wrap;
    }

    .works__card img {
        width: 100%;
    }
}

@media(max-width:375px) {}

@media(max-width:320px) {}